@import "Common.scss";

.graphContainer {
  height: 500px;
}

.nodeLabels {
  user-select: none;
  font-weight: bold;
}

#graphSvg {
  background-color: $menu-bg;
  margin: 10px;
  border-radius: 5px;

  width: 95%;
  height: 95%;
}
