@import "Common.scss";

.left {
  margin: 10px;
  padding: 10px 10px 10px 10px;
  border: 2px solid $font-color;
  border-radius: 5px;
  background-color: $menu-bg;
  height: calc(100vh - 20px);
  width: 33%;

  overflow-y: auto;
}

.menu-item {
  border-bottom: 2px solid rgb(85, 87, 89);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
